<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<connectionStrings>
		<add name="local" 
			 connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFileName=C:\Work\playground\Hangfire\HangfireExamples\HangfireConsoleServer\Db\HangfireDB.mdf;Initial Catalog=Hangfire;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>